@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* style rule fot common  */

.common_title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.common_text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: rgba(39, 39, 39, 0.6);
}
.btn_primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: #e55473;
  padding: 1.25rem 2.5rem;
  border: none;
}
.container {
  padding: 0 220px;
}
.white {
  color: rgba(255, 255, 255, 0.4);
}
.white1 {
  color: #fff;
}
.red {
  color: #e55473;
}
/* Style rule for section_one */

.section_one {
  height: 850px;
}

.section_one_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 84, 115, 0.1);
  padding-top: 3.125rem;
}

.section_one_image {
  max-width: 37.5rem;
  height: 43rem;
}
.section_one_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.875rem;
  margin-right: 6.25rem;
}
.section_one_content_title {
  font-size: 4rem;
  font-weight: 700;
  color: #272727;
}

/*! style rule for section_two */

.section_two {
  text-align: center;
}
/* .section_two_wrapper{} */
.section_two_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3.125rem;
}
/* .section_two_item {
  } */

.section_two_image {
  width: 370px;
  height: 420px;
  border-radius: 300px 300px 0px 0px;
  padding: 3.125rem 3.125rem 0 3.125rem;
}
.color1 {
  background: rgba(167, 33, 98, 0.15);
}
.color2 {
  background: rgba(5, 151, 160, 0.15);
}
.color3 {
  background: rgba(71, 125, 17, 0.15);
}
.section_two_image_caption {
  display: block;
  text-align: center;
  color: #272727;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
}

/* style rule for section_three */
.section_three {
  margin: 100px;
}
.section_three_title {
  text-align: center;
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.section_three_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.section_three_review_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #e55473;
  gap: 20px;
  border-radius: 10px;
  padding: 10px 80px;
}
.section_three_review_img {
  width: 160px;
}

/* style rule for section_four */

.section_four {
  margin: 120px 0;
}
.section_four_item_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  gap: 6.25rem;
  padding: 5rem 0;
}
/* .section_four_item {
  padding: 1rem;
} */
.section_four_item_img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.section_item_text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}
/* style rule for section_five */
.section_five {
  border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin: 7.5rem 0;
padding: 50px 0;

}
.section_five_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_five_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section_five_img {
  width: 318px;
  height: 420px;
}
/* style rule for sectionI_six */


.section_six{
  margin-bottom: 120px;
}


.section_six_wrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section_six_card_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  
}
/* section_six_card */
.section_card_img{
  width: 300px;
height: 400px;
}






/*! style rule for footer */
footer {
  background: #111010;
}
.footer_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 120px;
}
.footer_title {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.footer_copyright_text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
