@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* style rule fot common  */

.common_title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.common_text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: rgba(39, 39, 39, 0.6);
}
.btn_primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: #e55473;
  padding: 1.25rem 2.5rem;
  border: none;
}
.container {
  padding: 0 220px;
}
/* Style rule for section_one */

.section_one {
  height: 850px;
}

.section_one_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 84, 115, 0.1);
  padding-top: 3.125rem;
}

.section_one_image {
  max-width: 37.5rem;
  height: 43rem;
}
.section_one_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.875rem;
  margin-right: 6.25rem;
}
.section_one_content_title {
  font-size: 4rem;
  font-weight: 700;
  color: #272727;
}

/*! style rule for section_two */

.section_two {
  text-align: center;
}
/* .section_two_wrapper{} */
.section_two_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3.125rem;
}
/* .section_two_item {
  } */

.section_two_image {
  width: 370px;
  height: 420px;
  border-radius: 300px 300px 0px 0px;
  padding: 3.125rem 3.125rem 0 3.125rem;
}
.color1 {
  background: rgba(167, 33, 98, 0.15);
}
.color2 {
  background: rgba(5, 151, 160, 0.15);
}
.color3 {
  background: rgba(71, 125, 17, 0.15);
}
.section_two_image_caption {
  display: block;
  text-align: center;
  color: #272727;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
}
