@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* style rule fot common  */

.common_title {
  color: #272727;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.common_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
}
.btn_primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  border: none;
}
.container {
  /* padding: 0 13.75rem; */
  margin:0 13.75rem;
}
.white {
  color: rgba(255, 255, 255, 0.4);
}
.white1 {
  color: #fff;
}
.red {
  color: #e55473;
}
/* Style rule for section_one */

.section_one {
  /* height: 53.125rem; */
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 6.25rem;

}

.section_one_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.section_one_image {
  max-width: 600px;
  height: 688px;
}
.section_one_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-right: 100px;
}
.section_one_content_title {
  font-size: 64px;
  font-weight: 700;
  color: #272727;
}

/*! style rule for section_two */

.section_two {
  text-align: center;
  margin-bottom: 6.25rem;
}
/* .section_two_wrapper{} */
.section_two_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-top: 50px;
}
/* .section_two_item {
  } */

.section_two_image {
  width: 23.125rem;
  height: 28.125rem;
  border-radius: 18.75rem 18.75rem 0rem 0rem;
  padding: 50px 50px 0 50px;
}
.color1 {
  background: rgba(167, 33, 98, 0.15);
}
.color2 {
  background: rgba(5, 151, 160, 0.15);
}
.color3 {
  background: rgba(71, 125, 17, 0.15);
}
.section_two_image_caption {
  display: block;
  text-align: center;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.1875rem;
}

/* style rule for section_three */
.section_three {
  padding: 80px 0 120px 0;
  background-color: rgba(99, 229, 84, 0.101);
}
.section_three_title {
  text-align: center;
  /* color: #e55473; */
  font-size: 3rem;
  font-weight: 800;
}
.section_three_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 3.125rem;
  padding-top: 50px;
}

.section_three_review_content {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: .3125rem solid rgba(229, 84, 115, 0.05); */
  gap: 1.25rem;
  text-align: center;
  border-radius: .625rem;
  padding: 20px ;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0rem .5rem 1.5rem;
}
.section_three_review_title{
  color: #272727;
  font-size: 24px;
}
.section_three_castomar_title{
  color: #272727c6;


}
.section_three_review_img {
  width: 10rem;
}
.section_three_rateing_wrapper i{
  color: #e55473;
}
/* style rule for section_four */

.section_four {
  margin: 7.5rem 13.75rem;
  background: rgba(39, 39, 39, 0.05);
  padding: 80px 0;


}
.section_four_item_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  gap: 100px;
}
/* .section_four_item {
  padding: 16px;
} */
.section_four_item_img {
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
}
.section_four_item_text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.1875rem;
}
/* style rule for section_five */

.section_five {
  border-radius: .5rem;
  background: rgba(229, 84, 115, 0.05);
  margin: 120px 0;
  padding: 3.125rem 0;
}
.section_five_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_five_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.section_five_img {
  width: 19.875rem;
  height: 26.25rem;
}
/*! style rule for sectionI_six */

.section_six {
  margin-bottom: 7.5rem;
}

.section_six_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

}
.section_six_card_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* section_six_card */


.section_card_img {
  width: 16.875rem;
  height: 21.875rem;
}

/* style rule for section_seven */
.section_seven {
  /* background-color: #e55473; */
  margin-bottom: 7.5rem;
}
.section_seven_wrapper {
  text-align: center;
  background: url("./Asset/Rectangle\ 9.png");
  background-size: cover;
  background-position: center;
  padding: 7.5rem 0;

}
.section_seven_input_wrapper input{
  border-radius: .5rem;
background: #FFF;
width: 43.75rem;
height: 4rem;
border: none;
padding:0 1.25rem;
margin-right: 1.25rem;
}


/*! style rule for footer */
footer {
  background: #111010;
}
.footer_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5625rem;
  padding: 7.5rem;
}
.footer_title {
  color: #e55473;
  font-size: 3rem;
  font-weight: 800;
}
.footer_copyright_text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
